.btns .choices button {
    background-color: purple; /* Purple background */
    border: 1px solid purple; /* Purple border */
    color: white; /* White text */
    padding: 10px 24px; /*  padding */
    cursor: pointer; /* Pointer/hand icon */
    width: 50%; /* Set width */
    display: block; /* Make the buttons appear below each other */
  }
  
  .btns .choices button:not(:last-child) {
    border-bottom: none; /* Prevent double borders */
  }
  
  /* Add a background color on hover */
  .btns .choices button:hover {
    background-color: plum;
  }







/* Right header text will be 10px, Sans Serif and text color will be purple */

/* Timer text will be black and 10px and in the top left hand corner */

/* background color will be white */

/* Quiz Text will be black*/

/* Text that appears when answer button is pressed will be faint, grey, and italized */

/* List bubble will span the width of text and will be purple */

/* List text will be number and text color will be white */